<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello EJS Template Engine</h1>
    <b><%=name%></b>
    <b><%=age%></b>
    <b><%-address%></b>
    <hr>

    <% if (age>=18) {%>
        <h1>ผ่านเกณฑ์การใช้งาน</h1>
    <% } else {%>
        <h1>ไม่ผ่านเกณฑ์</h1>
    <% } %>
    <hr>

    <% for(i=1;i<=10;i++) {%>
        <p>ลำดับที่ <%=i%></p>
    <% } %>
</body>
</html>